#instafeed {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
   transition: opacity .4s;
    line-height:30px;
}
#instafeed a {
    display: block;
    background: $color_1;
    margin: 7px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    flex: 1 1 100px;
    height:auto;
    transition: opacity .4s;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#instafeed a:before {
    content:'';
    float:left;
    padding-top:100%;
}

#instafeed:hover a {
    opacity: 0.5;
    transition: opacity .4s;
}

#instafeed:hover a:hover {
    opacity: 1;
    transition: opacity .4s;
}