
/* FOOTER */

footer#footer {
    display: block;
    height: 24px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: $bianco;
    z-index: 9999999;
}

footer .wrapper .footer-box {
	span {
		font-size: .5625rem;
		line-height: 1.2em;
		margin-right: 20px;
	}

	.footer-p-iva {
		margin-right: 50px;
	}


}