
/* FOOTER */

footer#footer {
    display: block;
    height: 24px;
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: $bianco;
    z-index: 9;
    margin-bottom: 15px;
}

footer .footer-box {
    @include mq($to: tablet){
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 50px;
    }

	span {
        font-weight: 100;
		font-size: .75rem;
		line-height: 1.2em;
		margin-left: 30px;
        float: right;
        line-height: 24px;

        @include mq($to: tablet){
            font-size: .6rem;
            margin-left: 0;
            padding: 0 10px;

            &.footer-p-iva {
                width: 100%;
                text-align: center;
                padding: 0 5px;
            }
        }
	}


}




//==============  SEARCH

.wk-archive {
    z-index: 99;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    @include transition;

    & > div {
        margin-bottom: 100px;
    }

    .search--open & {
        opacity: 1;
        visibility: visible;
        @include transition;
    }

    div h3 {
        text-align: left;
    }
}

.wk-archive .wk-list-container {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 25px;

    @include mq($from: tablet){
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;
    }

    .wk-list-item {
        text-align: left;
        font-size: .9rem;
        line-height: 1.6em;

        &.letter-item {
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

