
/* FOOTER */

footer#footer {
    display: block;
    height: 24px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: $bianco;
    z-index: 9999999;
}

footer .footer-box {
    display: flex;
    justify-content: space-between;


	span {
		font-size: .75rem;
		line-height: 1.2em;
		margin-left: 50px;
        float: right;
        line-height: 24px;
	}


}