/* HEADER */
/* TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA */
/* STILE DEL MENU DI APERTURA DEL MENU */

header {
	z-index: 99999;
	top: 0;
	position: fixed;
	width: 100%;
	height: 70px;
	background-color: $bianco;
	//background-color: $bianco;

	@include mq($from: tablet){
		height: 90px;
	}

	.wrapper {
    	position: relative;
    	height: 100%;
    	padding-left: 0px;
    	padding-right: 15px;

    	@include mq($from: tablet){
    		padding-left: 15px;
    	}
	}
}

header.disattivo {
	transform: translateY(-100%) !important;
	@include transition;
}

/* LOGO */

#logo_sito {
	display: block;
    height: 48px;
    width: 200px;
    vertical-align: middle;
    z-index: 99;
    position: relative;

    @include mq($from: tablet) {
    	height: 90px;
    }

    &::before {
	    content: " ";
	    display: block;
	    width: 100%;
	    position: absolute;
	    height: 2px;
	    top: 75%;
	    background: black;
	    @include transition;


	    @include mq($from: tablet){
	    	top: 63%;
	    }
	}

	svg { 
		overflow: visible;
		display: inline-block;
		position: absolute;
	    height: 100%;
	    width: 100%;
	    top: 22%;
	    left: 0;
	    @include transition;

	    @include mq($from: tablet){
	    	top: 12%;
	    }

	    #payoff, #barra {
    		opacity: 1;
    		@include transition;
    	}

    	#payoff {
    		transform: scale(1.34);	
			transform-origin: left;
    	}

    	#barra rect {
    		display: none;
    	}
	    
	}
	svg:not(:root) { overflow: visible; overflow-x:visible; overflow-y:visible;  }


	@media screen and (min-width:470px) and (max-width:767px) {

	}

	@include mq($from: tablet) {

	}

	@include mq($from: 1140px) {

	}

}

.notouch #logo_sito svg:hover {
	#barra rect {
		width: 100%;
		@include transition;
	}
}

.notouch #logo_sito:hover {
	&::before {
		width: 100%;
		@include transition;
	}
}

header.active {

	#logo_sito::before {
		width: 0%;
		@include transition;
	}

	svg {
		//@include transition;
		#payoff {
			opacity: 0 !important;
			@include transition;
		}
	}

	@include mq($to: tablet) {
		height: 48px;
		@include transition;
	}
}


/* SELETTORI LINGUA */

#lingue_mobile {
	text-transform: uppercase;
	& > li {
		
		a  {
			display: block;
			width:100%;
			color:$color_nav;
			outline: none;
			font-size:13px;
			letter-spacing: 1px;
			padding: 1em 0.5em 1em 1em;
			text-shadow: 0 0 1px rgba($ombra_nav,0.1);
			border-bottom:1px solid lighten($sfondo_nav,10%);
		}
	}
}



// NUOVO SEARCH 



/* Buttons */

.btn {
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: none;
	background: none;
}

.btn:focus {
	outline: none;
}

.btn--search {
	font-size: 12px;
	color: $nerochiaro;
	height: 17px;
	text-transform: uppercase;
	display: block;
	line-height: 15px;
	cursor: pointer;

	svg{
		height: 100%;
		fill: $nerochiaro !important;
		transition: fill .4s;
		float: left;
		margin-right: 7px;
	}

	&:hover svg{
		fill:$color_2!important;
	}
}

.btn--hidden {
	pointer-events: none;
	opacity: 0;
}


/* Reset Search Input */

.search__input {
	border: 0;
	background: transparent;
	border-radius: 0;
	-webkit-appearance: none;
}

.search__input:focus {
	outline: none;
}


/* Links */


.btn {
	text-decoration: none;
	color: $color_2;
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}


/* Icons */

.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}




.demo-5 a, .demo-5 .btn { color: $nero; }

/* Layout for search container */
.search {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.search {
	position: fixed;
	z-index: 9999999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

.search::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba($color_2,0.8);
}


.btn--search-close {
	font-size: 2em;
	position: absolute;
	top: 1.25em;
	right: 1.25em;
	display: none;
}

.btn--search-close {
	display: block;
}

.search__form {
	margin: 5em 0;
}

.search__input {
	font-size: 10vw;
	line-height: 1;
	display: inline-block;
	box-sizing: border-box;
	width: 75%;
	padding: 0.05em 0;
	color: $nero;
	border-bottom: 5px solid;
	border-radius:0 !important;
	-webkit-appearance: none !important;
}

.search__input::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: $nerochiaro;
	opacity:0;
	transition:all .1s ease;
}

.search__input::-moz-placeholder {
	opacity: 0;
	/* Mozilla Firefox 19+ */
	color: $nerochiaro;
	transition:all .1s ease;
}

.search__input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: $nerochiaro;
	opacity: 0;
	transition:all .1s ease;

}


.search--open .search__input::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: $nerochiaro;
	opacity: 1;
	transition:all .5s ease;
	transition-delay:.5s;
}

.search--open .search__input::-moz-placeholder {
	opacity: 1;
	/* Mozilla Firefox 19+ */
	color: $nerochiaro;
	opacity: 1;
	transition:all .5s ease;
	transition-delay:.5s;
}

.search--open .search__input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: $nerochiaro;
	opacity: 1;
	transition:all .5s ease;
	transition-delay:.5s;
}



.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-decoration {
	-webkit-appearance: none;
}

.search__input::-ms-clear {
	display: none;
}

.search__info {
	font-size: 90%;
	font-weight: bold;
	display: block;
	width: 75%;
	margin: 0 auto;
	padding: 0.85em 0;
	text-align: right;
	color: $nero;
}

/************************/
/* Transitions 			*/
/************************/

 #container {
	opacity:1;
	transition: all 0.5s ease;

}

#container.main-wrap--move,
 {
	opacity:0.1;
	transform: scale3d(0.7,0.7,1);
	transition: all 0.5s ease;
}




.main-wrap--move .btn--search {
	pointer-events: none;
	opacity: 0;
}

.search {
	pointer-events: none;
}

.search--open {
	pointer-events: auto;
}

.search::before {
	opacity: 0;
	transition: opacity 0.5s;
}

.search--open::before {
	opacity: 1;
}

/* Close button */
.btn--search-close {
	opacity: 0;
	transition: opacity 0.5s;
	top:30px;
	left:90px;

	svg {
		fill:$nero;
	}

	@include mq($to:tablet){
		left:30px;
		right:inherit;
	}
}

.search--open .btn--search-close {
	opacity: 1;
}

/* Search form with input and description */

.search__info {
	opacity: 0;
	transform: translate3d(0, 50px, 0);
	transition: opacity 0.4s, transform 0.4s;
}

.search--open .search__info {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

.search__input {
	transform: scale3d(0,1,1);
	transform-origin: 0% 50%;
	transition: transform 0.3s;
}

.search--open .search__input {
	transform: scale3d(1,1,1);
	transition-duration: 0.5s;
}

@media screen and (max-width: 40em) {
	.btn--search-close {
		font-size: 1.25em;
	}
}

