/* HEADER */
/* TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA */
/* STILE DEL MENU DI APERTURA DEL MENU */

header {
	z-index: 99999;
	top: 0;
	position: fixed;
	width: 100%;
	height: 90px;
	//background-color: $bianco;

	.wrapper {
    	position: relative;
    	height: 100%;
    	padding-left: 15px;
    	padding-right: 15px;
	}
}

/* LOGO */

#logo_sito {
	display: block;
    height: 48px;
    width: 200px;
    vertical-align: middle;
    z-index: 99;
    position: relative;

    @include mq($from: tablet) {
    	height: 90px;
    }

	svg { 
		overflow: visible;
		display: inline-block;
		position: absolute;
	    height: 100%;
	    width: 100%;
	    top: 0;
	    left: 0;
	    @include transition;

	    #payoff, #barra {
    		opacity: 1;
    		@include transition;
    	}
	    
	}
	svg:not(:root) { overflow: visible; overflow-x:visible; overflow-y:visible;  }


	@media screen and (min-width:470px) and (max-width:767px) {

	}

	@include mq($from: tablet) {

	}

	@include mq($from: 1140px) {

	}

}

.notouch #logo_sito svg:hover {
	#barra {
		opacity: 1 !important;
		@include transition;
	}
}

header.active {

	svg {
		transform: translateY(22%);
		@include transition;

		@include mq($from: tablet) {
			transform: translateY(12%);
		}

		#payoff, #barra {
			opacity: 0 !important;
			@include transition;
		}
	}
}


/* SELETTORI LINGUA */

#lingue_mobile {
	text-transform: uppercase;
	& > li {
		
		a  {
			display: block;
			width:100%;
			color:$color_nav;
			outline: none;
			font-size:13px;
			letter-spacing: 1px;
			padding: 1em 0.5em 1em 1em;
			text-shadow: 0 0 1px rgba($ombra_nav,0.1);
			border-bottom:1px solid lighten($sfondo_nav,10%);
		}
	}
}

