/* HOMEPAGE */

li.flex-nav-prev {
    width: 20%;
    height: 100%;
    left: 0;
    position: absolute;
}

li.flex-nav-next {
    width: 20%;
    height: 100%;
    right: 0;
    position: absolute;
	a {
		display: block;
		width: 100%;
		position: absolute;
		height: 100%;
		top: 0;
		cursor: url(../img/arrow_left.png);
    }
}