/* HOMEPAGE */

li.flex-nav-prev {
    width: 20%;
    height: 100%;
    left: 0;
    position: absolute;
}

li.flex-nav-next {
    width: 20%;
    height: 100%;
    right: 0;
    position: absolute;
	cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAACECAYAAAAtDl07AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAORJREFUeNrs07EJwDAMRUGRCbx/k5E8kqNCkCJynUDuwR9AB4q4G7mZO0MPlFWD06DAqToUOHX8ggMHDhw4cODAgQMHDhw4cODAgQMHDhw4cODAgQMHDhw4cODAgQMHDhw4cODAgQMHDhw4cODAgQMHDhw4cODAgQMHDhw4cODAgQMHzss4R0heCQoUKFCgQIECBQoUKFCgQIECBQoUKFCgQIECBQoUKFCgQIECBQoUKFCgQIECBQoUKFCgQIECBQoUKFCgQIECBQoUKFCgQIEC5TtNKH1jg/NrlB0OlAYHSnYJMABpPhZkW5T0rAAAAABJRU5ErkJggg=='), auto;
    
}