/* MENUWIDE.SCSS */

/* MENU DESKTOP */
nav.nomobile {

	background-color: $color_2;

	ul#menu_wide {
	    position: absolute;
	    right: 0;
	    padding: 0;
	    margin: 0;
	    top: 50%;
	    transform: translateY(-50%);

		li {
			display: inline-block;
			position: relative;
			float: left;
			margin-left:50px;

			a {
				font-size: 13px;
				color: $color_1;
				letter-spacing: 0.1em;
				word-spacing: 0.3em;
				text-transform: uppercase;
				padding-bottom: 7px;
				font-weight: bold;
			}

			a::after {
				content: " ";
				position: absolute;
				width: 0%;
				bottom: 0;
				height: 2px;
				background-color: $nero;
				display: inline-block;
				left: 0;
				opacity: 1;
				@include transition;
			}

			ul.sub-menu {
				width: auto;
			    overflow-x: visible;
			    display: flex;
			    position: absolute;
			    transform: translateX(-50%);
				opacity: 0;
				@include transition();

				li {
					width: 100%;
					overflow-x:visible;
					float: none;
					display: block;
					margin-left: 5px;
				}

				a {
					font-size: 12px;
					text-transform: none;
				}
			}
		}

		/* ATTIVO VOCI */
			
		li.current-menu-item a, li.current-page-item a,  li.current-menu-parent > a {
			&::after {
				width: 100%;
				@include transition;
			}
			ul.sub-menu { 
				opacity: 1;
			}
		}

		li:hover {
			ul.sub-menu { opacity: 1;}
		}

		li a:hover {
			opacity: 0.5;
		}
	}

	ul#menu_wide li.menu-item-has-children:hover > .sub-menu { 
			opacity: 1; 
			height: auto;
	}
}

.notouch ul#menu_wide li a:hover::after {
	width: 100%;
	@include transition;
}
