/* MENUMOBILE:SCSS */

// Variabili colori menu' mobile
$sfondo_nav:$nero;
$color_nav:$bianco;
$ombra_nav:$nerochiaro;
$bottone_bk:$bianco;
$bottone_color:$nero;

/* STILE DEL MENU DI APERTURA DEL MENU */

a.mobile-menu {
	display:block;
	width:48px;
	height:48px;
	left:-48px;
	top:0;
	position:absolute;
	z-index:99999;
	color:$bottone_color;
	background-color:transparent;
	opacity: 1 !important;
	
	span {
		display:block;
		margin:0 auto;
		position:relative;
		top:22px;
		transition-duration: 0s;
		transition-delay: .2s;
	}	

	span:before, span:after {
		position: absolute;
		content: '';
	}

	span, span:before, span:after {
		width: 22px;
		height: 1px;
		background-color:$bottone_color;
		border-radius:2px;
		display: block;
	}

	span:before {
		margin-top: -7px;
		transition-property: margin, transform, height;
		transition-duration: .2s;
		transition-delay: .2s, 0;
		transform-origin: 100% 0%;
	}

	 span:after {
	 	margin-top: 7px;
		transition-property: margin, transform, height;
		transition-duration: .2s;
		transition-delay: .2s, 0;
		transform-origin: 100% 0%;
	}
}

body.nav-open a.mobile-menu {
	span {
		background-color: rgba(0,0,0,0.0);
		transition-delay: .2s;
	}

	span:before {
		margin-top: 0;
		height:1px;
		transform: rotate(45deg) skewX(45deg) translateY(5.5px);
		transition-delay: 0, .2s;
		background-color: $bianco;
	}

	span:after {
		margin-top: 0;
		height:1px;
		transform: rotate(-45deg) skewX(-45deg) translateY(-5.5px);
		transition-delay: 0, .2s;
		background-color: $bianco;
	}
}


 body.nav-open a.mobile-menu {
 	background-color: $sfondo_nav;
 	color: $bianco;
 	transition: all .4s;
 	transform: translateX(100%);
 }
  
 body.nav-open nav.onlymobile {
 	right: 0;
 }


nav.onlymobile{
	background:$sfondo_nav;
	width: calc(100%); 
	height: 100vh;
	position: absolute;
	z-index: 99999;
	top: 0; 
	right: calc(-100%);
	transition:all .4s;
	
	
	.nav_wrapper {
		position:relative;
		width:100%;
		height:100%;
		overflow-y:scroll;
	}
	
	ul {

		position: relative;
	    top: 50px;

		& > li {
			list-style: none;
			
			a  {
				display: inline-block;
			    width: auto;
				color:$color_nav;
				outline: none;
				letter-spacing: 1px;
				padding: .5em 0 .5em 0;
				text-shadow: 0 0 1px rgba($ombra_nav,0.1);
				border-bottom:1px solid $sfondo_nav;
				box-sizing: border-box;
				font-weight: 300;
			    text-transform: uppercase;
   	 			font-size: .875rem;
   	 			position: relative;

   	 			@include mq($to: tablet){
   	 				display: block;
   	 			}

   	 			&::after {
   	 				content: " ";
   	 				height: 2px;
   	 				width: 0px;
   	 				background-color: $bianco;
   	 				@include transition;
   	 				display: block;
    				position: absolute;

   	 			}
			}	
			/*
			a:hover {
				background:lighten($sfondo_nav,2%);
			}
			*/
			
		} /* LI */
		
		/* NASCONDO SOTTOMENU */
		& > li > ul { display:none; }
		
		/* MOSTRO SOTTOMENU SE ATTIVI */
		& > li.current-menu-ancestor > ul { display:block; }
		
		li.menu-item-has-children > a {


			&:after { 
				float:right;
				margin-right:5%;
				padding-top:0px;
				content: '';
				display: block;
				width: 10px;
				height: 10px;
				position: absolute;
				right: unset;
				top: unset;
				@include arrow("down", $color_nav);
			}
			&.attivo {
				&:after {
					@include arrow("up", $color_nav);
				}
			} 
			&.aperto {
				&:after {
					@include arrow("up", $color_nav);
				}
			} 
		}

	} /* UL */
	ul li.current-menu-item a {
		&::after {width: 100%; @include transition;}
	}
	

	ul#menu-principale > li > a { border-bottom:1px solid lighten($sfondo_nav,10%); height: 48px; text-transform: uppercase;}

	ul#menu-principale > li > ul.sub-menu > li > a { background:lighten($sfondo_nav,10%); }
	ul#menu-principale > li > ul.sub-menu > li > ul.sub-menu > li > a { background:lighten($sfondo_nav,20%); }
	ul#menu-principale > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a { background:lighten($sfondo_nav,30%); }

	ul#menu-principale > li > ul.sub-menu > li.current-menu-item > a { color:$color_nav; &::after {width: 100%; @include transition;} }
	
	ul#menu-principale > li > ul.sub-menu > li > ul.sub-menu > li.current-menu-item > a { color:$color_nav; background: lighten($sfondo_nav, 50%);}
	
	ul#menu-principale > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li.current-menu-item > a  { color: $color_nav; background: lighten($sfondo_nav, 50%);}

	/* NASCONDO IMMAGINI E DESCRIZIONI */

	span.sub, span.menu-image-wrapper { display: none !important;}

}


ul.menu-menu-mobile > li > a::after {
	@include mq($to: tablet){
		position: absolute;
	    right: 20px;
	    top: 12px;
	}
}


nav.onlymobile ul.sub-menu {
	@include mq($to: tablet){
		top: 0 !important;
	}

	li a {
		@include mq($to: tablet){
			display: inline-block !important;

		}
	}

	li a::after {
		@include mq($to: tablet){
			right: unset;
			top: unset;
		}
	}
}
