.project-container {
	@include flex-parent;
	width: 100%;

	.project-col {
		@include flex-child;
		width: calc(50% - 95px);
		height: auto;
		margin-right: 95px;
		margin-bottom: 100px;
		

		&:first-child {
			border-top: 4px solid $nero;
		}
	}

	.project-header {
		font-size: 1.111rem;
		line-height: 1.6em;

		.project-title {
			margin: 0;
			font-weight: bold;
			margin-top: 10px;

		}
	}
}