.project-container {
	@include flex-parent;
	align-items: flex-start;
	width: 100%;
	line-height: 1.3em;

	.project-col {
		@include flex-child;
		width: calc(50% - 95px);
		height: auto;
		margin-right: 95px;
		margin-bottom: 100px;

		p {
			margin: 0;
		}

		&:first-child {
			border-top: 5px solid $nero;
		}
	}

	.project-header {
		font-size: 1.25rem;
		line-height: 1.4em;

		.project-title {
			margin: 0;
			font-weight: bold;
			margin-top: 10px;

		}
	}

	.project-prizes {
		font-weight: bold;
		padding-top: 15px;
		text-decoration: underline;
		font-size: 1.25rem;
		line-height: 1.4em;
	}

	.project-content {
		line-height: 1.35em;
	}
}