//============ STORIES

.wk-stories {
	margin-bottom: 120px;

	.wkrow.wk-single-story {
	    width: 90%;
	    margin: 120px auto 0 auto;

	    &:first-of-type {
	    	margin: 0px auto 0 auto;
	    }
	}
}

.wk-stories .wk-client-cover {
	width: 100%;
	
	@include mq($from: desktop){
		width: 33.33333%;
	}

	.wk-client-img {
		background-position: center center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    padding-top: 64%;
	    width: 100%;
	}
}

.wk-stories .wkcol-8 {
	width: 100%;

	@include mq($from: desktop){
		width: 66.666%;
		padding-right: 0;
	}
}

.wk-stories .wk-client-content {

	.wk-content-eng {
		opacity: .5;	
		@include mq($to: tablet){
			margin-left: 0;
		}
	}

	.wk-content-ita {
		@include mq($to: tablet){
			margin-right: 0;
		}
	}

    @include mq($from: tablet){
    	display: flex;
    	justify-content: space-between;
    	padding: 25px 0;

    	.wk-content-ita {
    		margin-right: 15px;
		    width: calc(50% - 15px);
    	}

    	.wk-content-eng {
    		margin-left: 15px;
		    width: calc(50% - 15px);
    	}
    }
}

.wk-stories h3 {
	margin: 0;
}

.wk-stories span.wk-client-year {
    width: 100%;
    display: block;
    position: relative;
	
	&::after {
		width: 100%;
	    content: " ";
	    height: 1px;
	    background-color: black;
	    position: relative;
	    display: block;
	    left: 0%;
	    margin: 5px 0;
	}    
}

//=======  GRIGLIA

.wk-stories .wk-stories-grid {
	width: calc(90% - 30px);
	margin: 30px auto 0 auto;

	.grid-item, .grid-sizer {
		width: 100%;
		padding: 15px 0;

		@include mq($from: tablet){
			width: 50%;
		}
		@include mq($from: desktop){
			width: 33.33333%;
		}
	}
}


.grid.grid-storie {
	width: 90%;

}