.timeline-item-title {
	padding: 10px 0;
	margin: 0;
	text-transform: none;
	font-weight: 300;
	@include transition;

	&:hover {
		font-weight: 700;
		@include transition;
	}
}

div#mover {
    position: relative;
}


.timeline-block {
	position: relative;
	margin: 0vh 0;
}

.timeline-item {

	width: 86%;
	overflow-y: hidden;
	height: 0;
	display: block;
	//@include transition;

	@include mq($from: tablet){
		height: auto;
		top: 0;
		width: 600px;
		right: 0;
		background-color: $bianco;
		z-index: -1;
		position: fixed;
		top: 200px;

	}

	.timeline-item-img {
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 0;
		padding-top: 64%; 
	}

	.timeline-item-description {
	    padding: 20px 0;
	    border-top: 3px solid black;
	    margin-top: 20px;
	    font-size: 1.25rem;
		line-height: 1.4em;
		width: 100%;


		@include mq($from: tablet){
			font-size: 1.25rem;
			line-height: 1.4em;
		}

	    .project-title {
	    	margin: 0;
	    	font-weight: 700;
	    }
	}
}

.timeline-item.active {
	height: auto;
	//@include transition;

	@include mq($from: tablet){
		z-index: 999;
	}
}


.timeline-year-box.active {
    height: auto;
    @include transition;
}
.timeline-year-box {
    height: 50px;
    overflow-y: hidden;
        position: relative;
    top: 0;
}