.timeline-item-title {
	padding: 0px 0;
	margin: 0;
	text-transform: none;
	font-weight: 300;
	line-height: 30px;
	display: table;
	
	
	@include mq($from: tablet){
		margin-left: 20%;
    	width: auto;
    	cursor: pointer;
    	font-size: 1.125rem;
	}

	&:hover {
		font-weight: 700;
		//@include transition;
	}

	&.active {
		font-weight: 700;
	}

	&.title-image-page {
		font-weight: 700;
		text-decoration: underline;
	}

	&.title-image {
		text-decoration: underline;
	}

	&.only-title {
		opacity: .7;
		cursor: unset;
	}

	&.only-title:hover {
		font-weight: 300;
	}
}

div#mover {
    position: relative;
}


.timeline-block {
	position: relative;
	margin: 0 0 50vh;
}

.timeline-item {

	width: 86%;
	overflow-y: hidden;
	height: 0;
	display: block;
	//@include transition;

	@include mq($from: tablet){
		height: auto;
	    width: 45%;
    	right: 5%;
		background-color: $bianco;
		z-index: -1;
		visibility: hidden;
		position: fixed;
		top: 50%;
		transform: translateY(-50%);

	}

	@include mq($from: 1060px){ 
		width: 530px;
    	right: 50%;
    	transform: translateX(100%) translateY(-50%);
	}

	.timeline-item-img {
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 0;
		padding-top: 64%; 
		margin-top: 40px;

		@include mq($from: tablet){
			margin-top: 0;
		}
	}

	.timeline-item-description {
	    padding: 20px 0;
	    border-top: 2px solid black;
	    margin-top: 20px;
	    font-size: 1rem;
		line-height: 1.4em;
		width: 100%;

		h4 {
			font-size: 1rem;
		}


		@include mq($from: tablet){
			font-size: 1rem;
			line-height: 1.4em;
		}

	    .project-title {
	    	margin: 0;
	    	font-weight: 700;
	    	text-decoration: none;
	    }
	}
}

.timeline-item.active {
	height: auto;
	//@include transition;

	@include mq($from: tablet){
		z-index: 999;
		visibility: visible;
	}
}


.timeline-year-box.active {
    height: auto;
    @include transition;
}
.timeline-year-box {
    height: 50px;
    overflow-y: hidden;
    position: relative;
    top: 0;
    @include mq($from: tablet){
    	width: 50%;
   }


   h4 {
   		font-weight: 700;
   		text-decoration: underline;

   		@include mq($from: tablet){
   			font-size: 1.25rem;
   			line-height: 1.4em;
   		}
   }
}