@charset "UTF-8";
/* _TEXT.SCSS */

/* Font Library */

/* FONT PER LE ICONE */

@font-face {
	font-family: 'NeutrifPro-Regular';
	src: url('../font/neutrif-pro.woff') format('woff');

	font-weight: normal;
	font-style: normal;
}
/*
@font-face {
	font-family: 'NeutrifPro-Light';
	src: url('../font/neutrif-pro-light.eot');
	src: url('../font/neutrif-pro-light.eot?#iefix') format('embedded-opentype'),
             url('../font/neutrif-pro-light.woff2') format('woff2'),
	     url('../font/neutrif-pro-light.woff') format('woff'),
	     url('../font/neutrif-pro-light.ttf') format('truetype'),
	     url('../font/neutrif-pro-light.svg#youworkforthem') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'NeutrifPro-Bold';
	src: url('../font/neutrif-pro-bold.eot');
	src: url('../font/neutrif-pro-bold.eot?#iefix') format('embedded-opentype'),
             url('../font/neutrif-pro-bold.woff2') format('woff2'),
	     url('../font/neutrif-pro-bold.woff') format('woff'),
	     url('../font/neutrif-pro-bold.ttf') format('truetype'),
	     url('../font/neutrif-pro-bold.svg#youworkforthem') format('svg');
	font-weight: 800;
	font-style: normal;
}
*/
@mixin testo_uno {font-family: 'NeutrifPro-Regular', sans-serif;}
@mixin testo_due {font-family: 'NeutrifPro-Regular', sans-serif;}
@mixin testo_tre {font-family: 'NeutrifPro-Regular', sans-serif;}

