@charset "UTF-8";
/* _TEXT.SCSS */

/* Font Library */

/* FONT PER LE ICONE */

@mixin testo_uno {font-family: 'Poppins', sans-serif;}
@mixin testo_due {font-family: 'Poppins', sans-serif;}
@mixin testo_tre {font-family: 'Poppins', sans-serif;}

