.ce-banner{
    position: fixed;
    bottom: 24px;
    display: flex;
    left: 0;
    right: 0;
    color: $grigio;
    font-size: 1em;
    z-index: 99999;
    font-size: 12px;
    @include transition(0.7s);

    p { 
        position: relative;
        margin: 0;
    }

    .cookie-text {
        height: 100%;
        text-align: justify; 
        padding-left: 20px;
    }

    .cookie-botton {
        display: inline-block;
    }

}
.nascondibile {
    bottom: 24px;
    @include transition(0.7s);
}
.ce-accept, .ce-dismiss, .ce-disable{
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.ce-disable{
    background-color: #aaa;
}

.ce-accept:hover,
.ce-dismiss:hover,
.ce-disable:hover{
    background-color: #48ea6b;
    color: white;
}

/*
.ce-accept{
    background-color: #48ea6b;
    color: #111;
}
*/

a.ce-law { color: $nero; font-weight: bold;}

.ce-dismiss,.ce-accept{
    font-size: .8em;
    color: #333;
}

.ce-iframe-placeholder{
    padding: 1em;
    background-color: #eee;
    margin: 1em 0;
}

.ce-iframe-placeholder p{
    margin: 0;
}

.ce-iframe-placeholder { color:#000;}

.ce-iframe-placeholder .ce-accept {
    position: relative;
    top: 10px;
    left: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}
.ce-iframe-placeholder .ce-law {
    font-size: .8em;
    right: 1em;
    top: 1em;
    color: #333;
    position: relative;
    top: 10px;
    left: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}