/* MAIN */

/* BODY */

html {
	overflow-y: scroll;
}

html.bloccoscroll { overflow: hidden; }

html, body {
	@mixin testo_uno {font-family: 'NeutrifPro-Regular', sans-serif;}
	font-size:13px;
	line-height: 1.5em;
	letter-spacing: 0.03em;
	word-spacing: 0.07em;
	color: $color_1;
	font-weight: 400;
	max-width: 100%;
	@include transition(all, .4s, ease);
	@include mq($from:tablet){font-size:15px;}
	@include mq($from:desktop){font-size:16px;}
	@include mq($from:wide){font-size:18px;}
}

body {
	padding-top: 48px;
	position: relative;

	@include mq($from:tablet){
		padding-top: 90px;
	}

	&:after, &:before{
		content: " ";
		position: fixed;
		width: 0px;
		height: 100vh;
		background: $color_2;
		top: 0;
		left: 0;
		z-index: -1;
		@include transition();
	}
	&:after{
		left: inherit;
		right: 0;
	}
}


body.bloccoscroll {
    overflow: hidden;

}

body.notouch.bloccoscroll {
    position: absolute;
}

/* CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI  */

#contenuti {
	position: relative;
	z-index: 3;
	width: 100%;
	background: $color_2; 
	margin-top: 30px;
	overflow: hidden;
    min-height: calc(100vh - 159px);

    @include mq($to: tablet){
		min-height: calc(100vh - 117px);
	}

	&.current-project {
		margin-top: 0;
	}
}

body.home #contenuti {
	min-height: calc(100vh - 90px);
	margin-top: 0;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 1060px;

	&.no-limitated {
		max-width: unset;
	}

	&.solo-padding {
		max-width: unset;
		width: calc(100% - 60px);
	}
}





/* ANIMAZIONE MODULI */

.module {
	opacity: 0 !important;
	@include transition();
  transform: translateY(13%);
}

.module:nth-child(odd){
  transform: translateY(7%);
}


.come-in {
	opacity: 1 !important;
  transform: translateY(0) !important;
  transition: opacity 2s, transform 2s;
  //animation: come-in 2s ease forwards;
}
.come-in:nth-child(odd) {
  	transition-delay: .3s; 
}


/* eventuali elementi da fare apparire in ritardo *

.come-in .lento {
	opacity: 0;
  /*transform: translateY(0);
  animation: come-in 5s ease forwards;
}

*/


.already-visible {
 /*transform: translateY(0);*/
  transition: opacity 2s, transform 2s;
  //animation: none;
  opacity: 1 !important;
  transform: translateY(0%) !important;
}

#singolo-overlay .module {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.posizione_testosotto .module {
  opacity: 1 !important;
  transform: translateY(0) !important;
}


@keyframes come-in {
  to { 
  	transform: translateY(0);
  	opacity: 1;
  }
}
