/* MAIN */

/* BODY */

html {
	overflow-y: scroll;
}

html.bloccoscroll { overflow-y:hidden; }

html, body {
	@mixin testo_uno {font-family: 'Poppins', sans-serif;}
	font-size:13px;
	line-height: 1.5em;
	letter-spacing: 0.03em;
	word-spacing: 0.07em;
	color: $color_1;
	font-weight: 400;
	max-width: 100%;
	@include transition(all, .4s, ease);
	@include mq($from:tablet){font-size:15px;}
	@include mq($from:desktop){font-size:16px;}
	@include mq($from:wide){font-size:18px;}
}

body {
	padding-top: 48px;

	@include mq($from:tablet){
		padding-top: 4em;
	}

	&:after, &:before{
		content: " ";
		position: fixed;
		width: 0px;
		height: 100vh;
		background: $color_2;
		top: 0;
		left: 0;
		z-index: -1;
		@include transition();
	}
	&:after{
		left: inherit;
		right: 0;
	}
}

body.bloccoscroll {
  overflow: hidden;
}

/* CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI  */

#contenuti {
	position: relative;
	z-index: 3;
	width:100%;
	float:left;
	background:$color_2; 
	margin-top:0;
	overflow: hidden;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 1060px;
}
